{% extends 'blog/base.html' %}
{% block content %}
	
  <div class="jumbotron">
    <h1>Creator : <img class="rounded-circle account-img" src="/media/profile_pics/ashish4.jpg">
    <a href="{% url 'admin:index' %}">Ashish Sasmal</a>
    
  </h1>

  <h4>I have created this blog website called "wingman", so you <br>can share your valuable thoughts with world.</h4>
    <h4>Wingman plays a role that a person may take when a friend needs support with approaching potential romantic partners.<br><br>Never felt alone , Wingman got your back!!</h4>

    <br><br>
    <h3 class="container">Reach Me</h3>
	<div class="social">
	<ul >
  <li><a href="https://www.facebook.com/ashish.sasmal.37" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  <li><a href="https://twitter.com/AshishSasmal1" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href="https://github.com/ashish1sasmal" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
  <li><a href="https://www.instagram.com/ashishsasmal" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</ul>
	</div>
    


{% endblock content %}