{% load static %}
{% load suggest %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Secret Blogs</title>
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/home.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'blog:home' %}">Secret Blogs</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="{% url 'blog:autocomplete' %}">
                <div class="input-group">
                    <input class="form-control ui-widget" name="navsearch" id="navsearch" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"  required/>
                    <input type="hidden" name="mysearch" id="mysearch" value="" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">

                <div class="dropdown  dropleft">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'users:profile' user.username %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'users:register' %}"><i class="fas fa-sign-in-alt mr-2"></i> Login</a>
                    <a class="dropdown-item" href="{% url 'users:register' %}"><i class="fas fa-user-plus mr-2"></i> Register</a>
                    {% endif %}
                  </div>
                </div>
            </ul>
        </nav>
        <div class="modal fade" id="PostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class=""  method="post" action="{% url 'blog:home' %}" enctype="multipart/form-data">
                    {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                  <div class="form-group">
                      <label class="sr-only" for="message">post</label>
                      <textarea class="form-control" name="content" aria-label="With textarea"></textarea>
                  </div>
              <div class="form-group">

                  <div class="custom-file">
                      <input class="custom-file-input"  accept="image/*" type="file" name="blogpic" value=""  id="imgInp2">
                      <label class="custom-file-label" for="customFile">Upload image</label>

                  </div>
                  <img id="blah2" class="mt-1" src="#" style="display:none;width:100px;" />
              </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Share</button>
              </div>
               </form>
            </div>
          </div>
        </div>
            <div id="layoutSidenav">

                <div id="layoutSidenav_nav">
                    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                        <div class="sb-sidenav-menu">
                            <div class="nav">
                                <div class="sb-sidenav-menu-heading">Core</div>
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#PostModal" style="color:white;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-feather-alt" style="color:white;"></i></div>
                                    Create Post
                                </a>
                                <!-- <div class="sb-sidenav-menu-heading">Interface</div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    Layouts
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                        <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                    Pages
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Authentication
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="login.html">Login</a>
                                                <a class="nav-link" href="register.html">Register</a>
                                                <a class="nav-link" href="password.html">Forgot Password</a>
                                            </nav>
                                        </div>
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                            Error
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="401.html">401 Page</a>
                                                <a class="nav-link" href="404.html">404 Page</a>
                                                <a class="nav-link" href="500.html">500 Page</a>
                                            </nav>
                                        </div>
                                    </nav>
                                </div> -->
                                <div class="sb-sidenav-menu-heading">Join Us</div>
                                {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'users:profile' user.username %}"  style="color:white;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"  style="color:white;"></i></div>
                                    Profile
                                </a>
                                <a class="nav-link" href="{% url 'users:logout' %}"  style="color:white;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt" style="color:white;"></i></div>
                                    Logout
                                </a>
                                {% else %}
                                <a class="nav-link" href="{% url 'users:register' %}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt" style="color:white;"></i></div>
                                    Login
                                </a>
                                <a class="nav-link" href="{% url 'users:register' %}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                                    Register
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="sb-sidenav-footer">
                            {% if user.is_authenticated %}
                            <div class="small">Logged in as:</div>
                            {{user.first_name}} {{user.last_name}}
                            {% endif %}
                        </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content">
                    <div class="container" >
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">{{message}}</div>
                        {% endfor %}

                      {% endif %}
                      <div class="row">
                          {% if user.is_authenticated %}
                          <div class="col-lg-8">
                          {% else %}
                         <div class="col-lg-12">
                         {% endif %}
                        {% block content %}

                        {% endblock content %}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-lg-3 mt-3 mr-1">
                        <div class="card social-timeline-card">
                            <div class="card-body">
                                {% suggest_friends request as sgfriends %}
                                <h5 class="card-title">People you may know</h5>
                                <ul class="friend-list">
                                    {% for i in sgfriends %}
                                    <li>

                                        <div class="left">
                                            <img src="https://toppng.com/uploads/preview/batman-icon-jira-avatar-11562897771zvwv8r510z.png" alt="">
                                        </div>
                                        <div class="right">
                                            <a href="{% url 'users:profile' i.username %}">
                                                <h3>{{i.first_name}} {{i.last_name}}</h3>
                                            </a>

                                            <p>10 Friends</p>
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                      </div>

                </div>
                </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'blog/js/scripts.js' %}"</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

    document.getElementById("imgInp2").value = "";

    $("#navsearch").autocomplete({
    source:'{% url 'blog:autocomplete' %}',
    focus: function( event, ui ) {
          $( "#navsearch" ).val( ui.item.label );
             return false;
       },
       select: function( event, ui ) {
          $( "#navsearch" ).val( ui.item.label );
          $( "#mysearch" ).val( ui.item.value );
          return false;
       }
});

imgInp2.onchange = evt => {
const [file] = imgInp2.files
if (file) {
    blah2.src = URL.createObjectURL(file);
    document.getElementById('blah2').style.display = 'block';
}
}
</script>
    </body>
</html>
