{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	
  	<div class="content-section">
      <h1>Delete Post!</h1>
  		<form  method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Are you sure you want to delete {{object.title}} ? </h2>
  			<input type="submit" name="" value="Delete Post" class="btn btn-outline-danger">
        <button class="btn btn-light"><a href="{% url 'post-detail' object.id %}">Cancel</a></button>
  		</form>
  	</div>
  	


{% endblock content %}