{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	
  	<div class="content-section">
  		<form  method="POST" action="" enctype="multipart/form-data">
  			{% csrf_token %}
  			{{ form|crispy }}
        {{ profile_form|crispy }}

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey=""></div>


  			<input type="submit" name="" value="Sign Up!" class="btn btn-outline-info">
  		</form>
  	</div>
  	<div>
  		<small class="text-muted">Already Have An Account<a href="{% url 'login' %}" class="ml-2">Sign In</a></small>
  	</div>

     <script src="https://www.google.com/recaptcha/api.js" async defer></script>


{% endblock content %}